<h1>all dealerships</h1>
<%= link_to "All Cars", cars_path(@car) %>
<%= link_to "Home Dealerships", dealerships_path(@dealership) %>

<ul>

  <% @dealerships.each do |dealership| %>
      <li><%= link_to dealership.name,"/dealerships/#{dealership.id}"%></li>
        <p>Created at: <%= dealership.created_at%></p>
        <p>number of cars: <%= dealership.child_count%></p>
  <% end %>
</ul>
<%= link_to "Create new Dealership", "/dealerships/new", method: :get %>
