
<%= link_to "Back to all Cars", cars_path(@car) %>
<%= link_to "Back to Dealerships", dealerships_path(@dealership) %>

<p>Name: <%= @car.name %></p>
<p>Color: <%= @car.color %></p>
<p>Price: <%= @car.price %></p>
<p>Miles: <%= @car.miles %></p>
<p>domestic? <%= @car.domestic %></p>
